<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Donor</title>
</head>
<body>
<h2>Donor Registration</h2>
<form action="registerDonor" method="post">
    <pre>
</pre>
    <pre>
        Name: <input type="text" name="fullName">
        Email:<input type="email" name="email">
        Password:<input type="password" name="password">
        Blood Group:<input type="text" name="bloodGroup">
        Address:<input type="text" name="address">
        Phone:<input type="tel" name="phone">
    <input type="submit" value="register">
    </pre>
</form>
</body>
</html>